@media (max-width: 1024px) {
  .center{
    width: 720px;
  }

  header{
    height: 1264px;
    .headerTxt{
      justify-content: center;
      .innerText{
        font-size: 44px;
        .firstLine{
          font-size: 60px;
        }
      }
    }
    .headerImg .desktopBg{
      margin-top: 135px;
      margin-left: 0;
      position: static;
    }
    .headerIcon{
      justify-content: center;
      margin-top: 114px;
      display: flex;
      position: static;
    }
    .headerImg{
      display: flex;
      justify-content: center;
    }
  }

  .menu{
    display: none;
  }

  .hamburgerMenu{
    display: block;
  }


  .displayTxtBottom{
    display: block;
  }

  .displayTxtBottomBgSwap{
    background-color: #ffffff !important;
  }

  .aboutFourth{
    display: block;
    .boxInfo{
      display: none;
    //   margin-top: 20px;
    //   &:hover .displayIcon{
    //     display: flex;
    //   }
    //   &:hover .displayTxtBottom{
    //     display: block;
    //   }
    //   width: 100%;
    //   // margin: 0 auto;
    }
    .boxInfoResize{
      padding: 30px;
      display: block;
      background-color: #ffffff;
      margin-top: 30px;
      .iconTxtResize{
        display: flex;
        justify-content: space-between;
      }
      .headerResize{
        font-family: 'Atma', cursive;
        font-size: 40px;
        color: #71528b;
        font-weight: 600;
        margin-top: 17px;
      }
      .textDescResize{
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        margin-top: 25px;
        color: #545454;
        margin-bottom: 20px;
        text-align: left;
        span{
          font-style: italic;
          font-weight: 600;
          color: #545454;
        }
      }
      .textBottomResize{
        border-left: 6px solid #9eb8c9;
        div{
          font-family: 'Open Sans', sans-serif;
          font-size: 17px;
          font-weight: 600;
          color: #545454;
          padding-left: 10px;
        }
      }
    }

  }

  .aboutProject{
    height: 2000px;
    .aboutPContent{
       .aboutPfirst {
          font-size: 50px;
      }
      .aboutPsecond{
        font-size: 20px;
      }
      .aboutPthird{
        font-size: 17px;
      }
    }
  }

.projectProcess{
  height: 960px;
  .bgCalendar{
  width: 128px;
  }
  .projectPHead{
    font-size: 40px;
    margin-bottom: 160px;
  }
}

.processContent{
  .arrowRight{
    img{
      margin-left: 0px;
      width: 80%;
    }
  }
  .arrowLeft{
    display: flex;
    justify-content: flex-end;
    img{
      width: 80%;
      padding-left: 0px;
    }
  }
}

.processButtons{
  display: none;
}

.processButtons2{
  display: flex;
}


.projectSupport{
  .contentSupport{
    .supportHeader{
      font-size: 45px;
    }
    .slogan{
      font-size: 18px;
    }
  }
  .bgGift{
    // top: 866px;
    left: -64px;
  }
}

.supportFirstRow {
  display: block;
  .ifCompany{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 18px;
    .supportTxtWrap{
      .borderCoverTxt{
        font-size: 20px;
        top: -48px;
      }
    }
  }
  .wraperNgoEnvelope{
    width: 100%;
    margin-top: 50px;
    .ifNgo{
      font-size: 18px;
      .borderCoverTxt2{
        font-size: 20px;
        top: -48px;
      }
    }
  }
}

.supportSecondRow{
  .lowerBoxContainer{
    margin-top: 50px;
    font-size: 18px;
    width: 75%;
    .borderCoverTxt3{
      font-size: 20px;
      top: -28px;
    }
  }
}

  .projectOrganisers{
    .bgTable{
      width: 382px;
    }
  }

footer{
  .additionalInfo{
    display: block;
    padding: 30px;
  }
  .infoContent{
    font-size: 13px;
  }
  .infoContentColor{
    font-size: 13px;
  }
}


  .infoUnitLast{
    display: flex;
    justify-content: flex-end;
    margin-top: -171px;
  }

  .infoUnit{
    margin-bottom: 15px;
  }

  .middleTxtResize{
    width: 75%;
    text-align: center;
  }



  .credits{
    div{
      margin-top: 0;
    }
    .creditsWraper{
      .titleMargin{
        margin-top: 60px;
      }
    }
  }

}

@media (max-width: 640px) {
  .projectOrganisers{
    .bgTable{
      width: 255px;
      transform: scale(0.7);
      right: -38px;
    }
  }
  header{
    height: 1040px;
    .headerIcon{
      margin-top: 10px;
    }
  }
}



@media (max-width: 570px) {
  .aboutProject{
    height: 2200px;
  }
}

@media (max-width: 538px) {
  .aboutProject{
    height: 2500px;
  }
  .supportSecondRow{
    .lowerBoxContainer{
      margin-bottom: 235px;
    }
  }
}

@media (max-width: 470px) {
  .aboutProject{
    height: 2700px;
  }
  .projectOrganisers{
    .bgTable{
      width: 255px;
      transform: scale(0.5);
      right: -64px;
    }
    .organisersContent{
      .organisersInnerTxt{
        font-size: 19px;
      }
      .organisersInnerTxt2{
        font-size: 12px;
      }
    }
  }
  header{
    height: 890px;
    .headerIcon{
      margin-top: -120px;
    }
  }
}

@media (max-width: 430px) {
  .aboutProject{
    height: 3000px;
  }
  header .headSection .headerTxt .innerText{
    font-size: 22px;
    .firstLine{
      font-size: 30px;
    }
  }
}

@media (max-width: 427px) {
  .firstTxtBlock{
    margin-top: 41px;
  }
}


@media (max-width: 390px) {
  .aboutProject{
    height: 3200px;
  }
}

@media (max-width: 370px) {
  .aboutProject{
    height: 3370px;
  }
  header{
    height: 950px;
  }
}

@media (max-width: 600px) {
  .whoSupports{
    .logoImgs{
      img{
      width: 30%;
      }
    }
  }
  .projectContact{
    .contactLowerTxt{
      margin-top: 106px;
    }
  }
}

@media (max-width: 684px) {
  header{
    .headerTxt{
      .innerText{
        font-size: 27px;
        .firstLine{
          font-size: 50px;
        }
      }
    }
  }
}


@media (max-width: 760px) {
  .projectContact{
    height: 100%;
  }
  .peopleInvolved{
    display: block;
    .person{
      margin: 0 auto;
      margin-bottom: 30px;
      .personName{
        text-align: center;
      }
    }
  }
}
