
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.col-1 {
  width: 8.3333333%;
}

.col-2 {
  width: 8.3333333% * 2;
}

.col-3 {
  width: 8.3333333% * 3;
}

.col-4 {
  width: 8.3333333% * 4;
}

.col-5 {
  width: 8.3333333% * 5;
}

.col-6 {
  width: 8.3333333% * 6;
}

.col-7 {
  width: 8.3333333% * 7;
}

.col-8 {
  width: 8.3333333% * 8;
}

.col-9 {
  width: 8.3333333% * 9;
}

.col-10 {
  width: 8.3333333% * 10;
}

.col-11 {
  width: 8.3333333% * 11;
}

.col-12 {
  width: 8.3333333% * 12;
}

.center{
  width: 960px;
  margin: 0 auto;
}

// .center::after{
//   clear: both;
//   content: "";
//   display: block;
// }

nav {
  background-color: #9fc794;
  width: 100%;
  display: flex;
}

nav > div{
  display: flex;
  justify-content: space-between;
}

.logoNav{
  height: 75px;
  display: flex;
  -webkit-box-shadow: 13px 13px 0px -2px rgba(130,118,145,1);
  -moz-box-shadow: 13px 13px 0px -2px rgba(130,118,145,1);
  box-shadow: 13px 13px 0px -2px rgba(130,118,145,1);
  border-bottom: 2px solid #71528b;
  z-index: 1;
}

.menu{
  margin-top: 30.5px;
  ul{
    li{
      display: inline-block;
      list-style-type: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #63705f;
      margin-left: 52px;
    }
  }
}

.hamburgerMenu{
  display: none;
  margin-right: 2%;
  .burgerWrap{
    margin-top: 27px;
    .burgerLine{
      width: 40px;
      background-color: #ffffff;
      height: 5px;
      border-radius: 3px;
      margin-top: 2px;
    }
  }
}

header{
  background-color: #9fc794;
  display: flex;
  height: 100vh;
  .headSection{
    height: 100vh;
    position: relative;
  }
  .headerTxt{
    display: flex;
    justify-content: flex-end;
    margin-top: 89px;
    .innerText{
      text-align: right;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      font-weight:300;
      text-align: right;
      z-index: 1;
      .firstLine{
        font-family: 'Atma', cursive;
        font-size: 48px;
      }
      .boldCursive{
        font-weight: bold;
        font-style: italic;
      }
    }
  }
  .headerIcon{
    // justify-content: flex-end;
    // display: flex;
    // margin-top: -192px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    .iconArrow{
      margin-bottom: 138px;
    }
  }
  .headerImg{
    .desktopBg{
      height: 470px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      // margin-top: -100px;
      bottom:0px;
      margin-left: -120px;
      background-image: url('../images/desktop_header.png');
      position: absolute;
    }
  }
}

.iconArrow{
  border: 1px solid #fff;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: #ffffff;
  }
  &:hover .arrow path {
    fill: #9fc794;
  }

  .arrow{
    height: 27px;
    width: 58px;
    path{
      fill: #fff;
      }
    }
  }

.iconArrow2{
  border: 1px solid #fff;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: #ffffff;
  }
  &:hover .arrow path {
    fill: #9bc0d7;
  }

  .arrow{
    height: 27px;
    width: 58px;
    path{
      fill: #fff;
      }
    }
  }


.aboutProject{
  height: 660px;
  background-color: #f4f4f4;
  display: flex;
  .aboutPContent{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    .aboutPfirst{
      margin-top: 8%;
      font-weight: 300;
      font-size: 30px;
      color: #545454;
    }
    .aboutPsecond{
      color: #7e7e7e;
      margin-top: 28px;
      font-size: 14px;
    }
    .aboutPthird{
      font-weight: 600;
      font-size: 14px;
      margin-top: 15px;
      font-style: italic;
      color: #7e7e7e;
      border-left: 6px solid #71528b;
      padding-left: 12px;
      margin-right: 7%;
    }
  }
}

.aboutFourth{
  display: flex;
  margin-top: 44px;
  .boxInfo{
    background-color: #f4f4f4;
    margin-right: 10px;
    height: 360px;
    &:hover .displayIcon{
      display: none;
    }
    &:hover .displayTxtBottom{
      display: flex;
    }
    &:hover {
      background-color: #ffffff !important;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
  .boxInfoResize{
    display: none;
  }

.iconDescCir{
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
}

.centralize{
   display: flex;
   justify-content: center;
 }

.textDesc{
  font-family: 'Atma', cursive;
  font-size: 14px;
  color: #71528b;
  font-weight: 600;
  margin-top: 17px;
}

.textLowDesc{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 25px;
  color: #545454;
  margin-bottom: 20px;
  text-align: center;
  span{
    font-style: italic;
    font-weight: 600;
    color: #545454;
  }
}

.textBottom{

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #545454;
  div{
    padding-left: 10px;
    border-left: 6px solid #9eb8c9;
  }
}

.marginSet1{
  margin-top: 79px;
}


.displayIcon{
  // display: none;
}

.displayTxtBottom{
  display: none;
}

.displayTxtBottomBgSwap{
  // background-color: #ffffff !important;
}

.projectProcess{
  height: 650px;
  background-color: #ffd064;
  display: flex;
  position: relative;
  .bgCalendar{
    width: 261px;
    height: 248px;
    background-image: url('../images/calendar.png');
    margin-top: 56px;
    position: absolute;
    right: 0px;
  }
}

.processContent{
  .flexMain{
    display: flex;
  }
  .projectPHead{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 300;
  }
  .wrapInfoSheet{
    display: flex;
    justify-content: center;
    ul{
      list-style-type: none;
      width: 100%;
      margin-left: 13px;
    }

  .processInfoSheet{
    display: flex;
    position: relative;
    // height: 312px;
    background-color: #ffffff;
    margin-top: 35px;
    -webkit-box-shadow: -13px 13px 0px 0px rgba(233,186,77,1);
    -moz-box-shadow: -13px 13px 0px 0px rgba(233,186,77,1);
    box-shadow: -13px 13px 0px 0px rgba(233,186,77,1);
    .number{
        display: flex;
        justify-content: flex-end;
        font-family: 'Atma', cursive;
        font-size: 60px;
        color: #72538d;
        font-weight: 600;
      }
    .topTxt{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #bdbcbc;
        font-weight: 600;
        margin-top: 96px;
      }
    .bottomTxt{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #545454;
        margin-top: 16px;
        margin-bottom: 90px;
      }
    .cir100h{
      position: relative;
        .createCir{
          border-radius: 100%;
          width: 77px;
          height: 77px;
          background-color: #d3d1d1;
          font-family: 'Open Sans', sans-serif;
          color: #ffffff;
          font-size: 24px;
          font-weight: bold;
          align-items: center;
          justify-content: center;
          display: flex;
          transform: rotate(7deg);
          position: absolute;
          right:-20px;
          top:10px;
        }
      }
    }
  }
.hideProcessInfo{
  display: none;
}
  .arrowRight{
    margin-top: 214px;
    display: flex;
    align-items: baseline;
    img{
      margin-left: 70px;
    }
  }
  .arrowLeft{
    margin-top: 214px;
    display: flex;
    align-items: baseline;

  }
}

.processButtons{
  margin-top: 57px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 84px;
  .processArrow{
    height: 7px;
    width: 9px;
    margin-top: 11px;
  }
  .processButtSingle{
    width: 89px;
    height: 32px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #856f98;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
  }
}



.processButtons2{
  display: flex;
  margin-top: 20px;
  display: none;
  .processArrow2{
    height: 7px;
    width: 9px;
    margin-top: 11px;
  }
  .processButtSingle2{
    width: 102px;
    height: 43px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #856f98;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    z-index: 1;
  }
}

.flexPositionStart{
  justify-content: flex-start;
}

.flexPositionCenter{
  justify-content: center;
}

.flexPositionEnd{
  justify-content: flex-end;
}





.projectSupport{
  height: 100%;
  background-color: #9bc0d7;
  display: flex;
  position: relative;
  .bgGift{
    background-image: url(../images/gift.png);
    height: 244px;
    width: 206px;
    position: absolute;
    bottom: 20px;
    left:0;
  }

  .contentSupport{
    .supportHeader{
    display: flex;
    justify-content: flex-end;
    margin-top: 85px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    }
    .slogan{
      display: flex;
      justify-content: flex-end;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #535353;
      margin-top: 16px;
    }
  }
}

.supportFirstRow{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .ifCompany{
    width: 47.9%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #252525;
    border: 2px solid #ffd064;
    padding: 20px;
    z-index: 1;
    .supportTxtWrap{
      position: relative;
      .bottomMarg{
        margin-bottom: 13px;
      }
      span{
        font-weight: 600;
        font-style: italic;
      }
      .borderCoverTxt{
        position: absolute;
        font-family: 'Atma', cursive;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        background-color: #9bc0d7;
        text-transform: uppercase;
        top: -41px;
        padding: 10px;
        left:-10px;
      }
    }
  }

  .envCircle{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    .envelope{
      width: 60px;
      height: 36px;
      path{
        fill: #ffffff;
      }
    }
    &:hover{
      background-color: #ffffff;
    }
    &:hover .envelope path{
      fill: #9bc0d7;
    }
  }

  .iconEnvContainer{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    margin-left: 15px;
  }


  .wraperNgoEnvelope{
    width: 47.9%;
    display: flex;
    border: 2px solid #bfe2b6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .ifNgo{
      position: relative;
      justify-content: flex-end;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #252525;
      span{
        font-weight: 600;
        font-style: italic;
      }
      .borderCoverTxt2{
        position: absolute;
        font-family: 'Atma', cursive;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        background-color: #9bc0d7;
        padding: 10px;
        top: -41px;
        left:-10px;
      }
    }
  }
}

.supportSecondRow{
  display: flex;
  justify-content: flex-end;
  .lowerBoxContainer{
    border: 2px solid #72538d;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #252525;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 93px;
    position: relative;

    .wrapBoxText{
      div{
        &:last-child{
        margin-top: 26px;
        font-style: italic;
        font-weight: 600;
      }
      }
    }

    .arrowSign{
      display: flex;
      align-items: flex-end;
    }

    .borderCoverTxt3{
      position: absolute;
      font-family: 'Atma', cursive;
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      background-color: #9bc0d7;
      text-transform: uppercase;
      top: -20px;
      padding: 10px;
      left: 20px;
    }
  }
}
.newsletter{
  background-color: #f4f4f4;
  height: 360px;
  display: flex;
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .newsletterWrap{
    display: flex;
    align-items: center;
    .newsletterTxt{
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #545454;
      margin-right: 25px;
    }
  }
  .inputButWrap{
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    input{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #d3d3d3;
      width: 145px;
      border: 0px;
      border-right: 1px solid #d3d3d3;
    }
    button{
      background-color: transparent;
      border: 0px;
      display: flex;
      align-items: center;
      margin-left: 5px;
    }
  }
}

.projectOrganisers{
  height: 650px;
  background-color: #ffd064;
  position: relative;
  display: flex;
  .bgTable{
    width: 620px;
    height: 636px;
    background-image: url('../images/table.png');
    position: absolute;
    right: 0px;
    top: 45px;
  }
  .organisersContent{
    display: flex;
    .textLeft{
      z-index: 1;
    }
    .organisersHead{
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      color: #ffffff;
      margin-top: 129px;
    }
    .organisersInnerTxt{
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      color: #555555;
      margin-top: 40px;
      span{
        font-style: italic;
        font-weight: 600;
      }
    }
    .organisersInnerTxt2{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #555555;
      font-weight: 600;
      margin-top: 40px;
    }
  }
}

.supportersLogo{
  height: 370px;
  background-color: #ffffff;
  display: flex;
  .justifier{
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whoSupports{
    margin: 0 60px 0 60px;
  }
  .logoImgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
  .whoSupportsTxt{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #545454;
  }
}

.projectContact{
  height: 650px;
  display: flex;
  background-color: #f4f4f4;
  position: relative;
  .bgClouds{
    position: absolute;
    width: 277px;
    height: 181px;
    right: 0;
    top: 55px;
  }
  .contactHead{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #545454;
    margin-top: 106px;
    position: relative;
  }
  .contactLowerTxt{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a0a0a0;
    margin-top: 35px;
    font-weight: 600;
  }
}

.peopleInvolved{
  display: flex;
  margin-top: 92px;
  .person{
    z-index: 1;
    .personImg{
      display: flex;
      justify-content: center;
    }
    .personName{
      display: flex;
      justify-content: center;
      color: #525252;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      margin-top: 30px;
    }
    .personRole{
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      color: #7c6094;
      font-size: 12px;
      font-weight: 600;
      margin-top: 12px;
    }
    .personEmail{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      a{
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        color: #949494;
        font-size: 13px;
      }
    }
  }
}

footer{
  display: flex;
  height: 288px;
  background-color: #ffffff;
  .additionalInfo{
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: space-between;
  }
  .infoContentColor{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #72538d;
    font-weight: 600;
  }
  .infoContent{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #343434;
  }
  .infoContentLink{
    text-decoration: none;
    color: #343434;
  }
  #rulesBold{
  font-weight: bold;
  }
}

.credits{
  margin-bottom: 68px;
  .creditsWraper{
    display: flex;
    justify-content: center;
  }
  div{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #545454;
    margin-top: 17px;
    span{
      font-style: italic;
      font-weight: 600;
    }
    .coloredTitle{
      font-style: normal;
      color: #8a799b;
    }
  }
}

@import 'mobile';
